<div class="jumbotron jumbotron-fluid show-jumbotron">
  <div class="container d-flex justify-content-between align-items-center p-0">
    <h1 class="display-4"><%= cocktail.name %></h1>
    <%= cl_image_tag cocktail.photo.key, height: 200, width: 200, crop: :fill %>
  </div>
</div>
