
<div class="container">
  <div class="row">
    <dif class="col">
      <%= render partial: "index_header" %>
    </dif>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail|%>
      <dif class="col-4 ">
        <div> <%= render partial: "card", locals: {cocktail: cocktail} %> </div>
      </dif>
    <% end %>
  </div>
</div>
