.card-category {
  background-size: cover;
  background-position: top;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  margin-bottom: 30px;
  border: 1px solid rgba(255,255,255,0.2)
}

.card-category a {
  text-decoration: none !important;
  color: white;
  font-weight: lighter;
  text-shadow: 1px 1px 3px rgba(0,0,0, 0.4) !important;
}

.card-category a:hover{
  color: rgba(255,255,255, 0.8);
}
